<div routerLink="../../headline/{{idHeadline}}" class="py-5 px-3 max-w-sm bg-white rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700" *ngIf="skin === 'block' && currentHedline && currentEditor && (idCategory === '' || currentEditor.idCategory === idCategory)">
  <div class="h-60 max-w-full overflow-auto overscroll-y-none overscroll-x-none overscroll-none justify-center">
    <img class="rounded-t-lg inline-flex" [src]="currentHedline && currentHedline.image ? currentHedline.image : '...'" alt="Loading...">
  </div>
  <div routerLink="../../headline/{{idHeadline}}" class="grid grid-cols-2 text-gray-500 py-1">
    <small class="ion-text-left truncate">{{getValueTraduct(currentHedline.title)}}</small>
    <small class="ion-text-right truncate">{{currentHedline.dateParution | date : 'd/M/yy'}}</small>
  </div>
  <div class="flex items-center ion-align-items-center" *ngIf="currentEditor">
    <ng-container>
      <svg (click)="likeCurrentEditor()" *ngIf="currentUser && !currentUser.editorsLikes.includes(currentEditor.id)" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
      </svg>
      <svg (click)="likeCurrentEditor()" *ngIf="currentUser && currentUser.editorsLikes.includes(currentEditor.id)" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-500" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd" />
      </svg>
    </ng-container>
    <div routerLink="../../headline/{{idHeadline}}" class="ml-2 grid grid-cols-1">
      <span class="text-gray-800 text-sm font-semibold ml-2 truncate">{{getValueTraduct(currentEditor.name)}}</span>
    </div>
  </div>
  <div class=" mt-2">
    <div class="flex items-center space-x-3">
      <ng-container>
        <svg (click)="likeCurrentHeadline()" *ngIf="currentUser && !currentHedline.likes.includes(currentUser.id)" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1">
          <path stroke-linecap="round" stroke-linejoin="round" d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5" />
        </svg>
        <svg (click)="likeCurrentHeadline()" *ngIf="currentUser && currentHedline.likes.includes(currentUser.id)" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-orange-600" viewBox="0 0 20 20" fill="currentColor">
          <path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z" />
        </svg>
      </ng-container>

      <ng-container>
        <svg *ngIf="currentUser && !currentUser.archives.includes(currentHedline.id)" (click)="archiveCurrentHeadline()" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z" />
        </svg>
        <svg *ngIf="currentUser && currentUser.archives.includes(currentHedline.id)" (click)="archiveCurrentHeadline()" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-orange-500" viewBox="0 0 20 20" fill="currentColor">
          <path d="M5 4a2 2 0 012-2h6a2 2 0 012 2v14l-5-2.5L5 18V4z" />
        </svg>
      </ng-container>
      <svg routerLink="../../headline/{{idHeadline}}" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1">
        <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
      </svg>
      <span class="flex items-center ml-2 items-center" routerLink="../../headline/{{idHeadline}}?comment">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1">
          <path stroke-linecap="round" stroke-linejoin="round" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z" />
        </svg>
        {{currentComment.length}}
      </span>
    </div>
  </div>
</div>

<div *ngIf="skin === 'list' && currentHedline && currentEditor && (idCategory === '' || currentEditor.idCategory === idCategory)" class="flex mb-2 max-w-md bg-white shadow-lg rounded-lg overflow-hidden">
  <div class="w-1/3 bg-cover bg-landscape" routerLink="../../headline/{{idHeadline}}">
    <img class="rounded-t-lg" [src]="currentHedline && currentHedline.image ? currentHedline.image : '...'" alt="Loading...">
  </div>
  <div class="w-2/3 p-4">
    <div routerLink="../../headline/{{idHeadline}}" class="text-black font-semibold text-xl truncate">
      <small class="truncate">{{getValueTraduct(currentHedline.title)}}</small>
    </div>
    <div class="flex items-center ion-align-items-center" *ngIf="currentEditor">
      <ng-container>
        <svg (click)="likeCurrentEditor()" *ngIf="currentUser && !currentUser.editorsLikes.includes(currentEditor.id)" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
        </svg>
        <svg (click)="likeCurrentEditor()" *ngIf="currentUser && currentUser.editorsLikes.includes(currentEditor.id)" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-500" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd" />
        </svg>
      </ng-container>
      <span class="text-gray-800 text-sm font-semibold ml-2 truncate" routerLink="../../headline/{{idHeadline}}">{{currentEditor.name}}</span>
    </div>
    <div class=" mt-2">
      <div class="flex items-center space-x-3">
        <ng-container>
          <svg (click)="likeCurrentHeadline()" *ngIf="currentUser && !currentHedline.likes.includes(currentUser.id)" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5" />
          </svg>
          <svg (click)="likeCurrentHeadline()" *ngIf="currentUser && currentHedline.likes.includes(currentUser.id)" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-orange-600" viewBox="0 0 20 20" fill="currentColor">
            <path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z" />
          </svg>
        </ng-container>

        <ng-container>
          <svg *ngIf="currentUser && !currentUser.archives.includes(currentHedline.id)" (click)="archiveCurrentHeadline()" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z" />
          </svg>
          <svg *ngIf="currentUser && currentUser.archives.includes(currentHedline.id)" (click)="archiveCurrentHeadline()" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-orange-500" viewBox="0 0 20 20" fill="currentColor">
            <path d="M5 4a2 2 0 012-2h6a2 2 0 012 2v14l-5-2.5L5 18V4z" />
          </svg>
        </ng-container>
        <svg routerLink="../../headline/{{idHeadline}}" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1">
          <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
        </svg>
        <span class="flex items-center ml-2 items-center" routerLink="../../headline/{{idHeadline}}?comment">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1">
          <path stroke-linecap="round" stroke-linejoin="round" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z" />
        </svg>
          {{currentComment.length}}
      </span>
      </div>
    </div>
    <div routerLink="../../headline/{{idHeadline}}" class="text-gray-700 pt-1 text-xl">
      <small class="truncate">{{currentHedline.dateParution | date : 'd/M/yy'}}</small>
    </div>
  </div>
</div>

