<ion-header [translucent]="true" class="ion-no-border-lol">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/profil"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Select language
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveLanguage()" [disabled]="isLoading">
        SAVE
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-progress-bar color="secondary" *ngIf="isLoading" type="indeterminate"></ion-progress-bar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group value="{{currentLanguage}}">
      <ion-item>
        <ion-label>Auto</ion-label>
        <ion-radio (click)="currentLanguageSelect = ''" slot="start" value=""></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>English</ion-label>
        <ion-radio (click)="currentLanguageSelect = 'en'" slot="start" value="en"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Français</ion-label>
        <ion-radio (click)="currentLanguageSelect = 'fr'" slot="start" value="fr"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>
