<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button [disabled]="isLoading" (click)="dismissModal()" class="fs-6 font-medium">
        <ion-icon size="large" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="font-medium">{{'4.4-1' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="shared()" [disabled]="isLoading" class="fs-6 font-medium">
        <ion-icon size="large" name="share-social-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-progress-bar color="secondary" *ngIf="isLoading" type="indeterminate"></ion-progress-bar>
</ion-header>

<ion-content (click)="isComment = false">
  <section class="m-5 border border-gray-300">
    <img [src]="currentHeadline && currentHeadline.image ? currentHeadline.image : '...'">
  </section>

  <section class="mx-5">
    <h3 class="text-2xl text-gray-600">
      {{currentEditor ? currentEditor.name : '...'}}
      <ng-container>
        <svg (click)="likeCurrentEditor()" *ngIf="currentUser && !currentUser.editorsLikes.includes(currentEditor.id)" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-flex" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
        </svg>
        <svg (click)="likeCurrentEditor()" *ngIf="currentUser && currentUser.editorsLikes.includes(currentEditor.id)" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-500 inline-flex" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd" />
        </svg>
      </ng-container>
    </h3>
    <span class="text-orange-600">
      {{currentHeadline ? (currentHeadline.date | date : 'dd/MM/yyyy') : '...'}}
    </span>
    <br>
    <small class="ion-text-left truncate text-gray-600">{{currentHeadline ? getValueTraduct(currentHeadline.title) : '...'}}</small>
    <p class="text-gray-500 py-3" [innerHTML]="currentHeadline ? getValueTraduct(currentHeadline.content) : '...'"></p>
  </section>
  <section class="px-5 mb-2" id="title_comment">
    <span class="font-bold text-blue-900">{{'4.4-2' | translate}} ({{currentComment.length}})</span>
  </section>
  <section class="px-5" id="liste_comment">
    <app-miniature-comment [idComment]="comment.id" *ngFor="let comment of currentComment"></app-miniature-comment>
  </section>
</ion-content>

<ion-footer collapse="fade">
  <ion-toolbar class="px-2">
    <textarea *ngIf="isComment" [(ngModel)]="writeComment" [rows]="isComment ? '3' : '1'" placeholder="{{'4.4-6' | translate}}" id="input-comment" class="{{isComment ? 'my-2' : ''}} bg-gray-200 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required></textarea>
    <ion-buttons slot="end">
      <ion-button *ngIf="!isComment" (click)="isComment = true">
        <ion-chip class="text-sm capitalize px-3" color="primary" mode="ios">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 animate-pulse" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1">
            <path stroke-linecap="round" stroke-linejoin="round" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
          </svg> &nbsp;
          <ion-label>{{'4.4-3' | translate}}</ion-label>
        </ion-chip>
      </ion-button>
      <ion-button *ngIf="isComment" (click)="sendComment('');" [disabled]="isLoading" class="fs-6 font-medium">
        <ion-icon [color]="writeComment ? 'secondary' : 'medium'" name="send-sharp"></ion-icon>
      </ion-button>
      <ion-button (click)="scrollToElement('liste_comment')" *ngIf="currentUser && !isComment" [disabled]="isLoading" class="fs-6 font-medium">
        {{currentHeadline ? currentComment.length : '...'}}&nbsp;
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1">
          <path stroke-linecap="round" stroke-linejoin="round" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z" />
        </svg>
      </ion-button>
      <ion-button *ngIf="currentUser && !isComment" (click)="archiveCurrentHeadline()" [disabled]="isLoading" class="fs-6 font-medium">
        <svg *ngIf="!currentUser.archives.includes(currentHeadline.id)" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z" />
        </svg>
        <svg *ngIf="currentUser.archives.includes(currentHeadline.id)" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-orange-500" viewBox="0 0 20 20" fill="currentColor">
          <path d="M5 4a2 2 0 012-2h6a2 2 0 012 2v14l-5-2.5L5 18V4z" />
        </svg>
      </ion-button>
      <ion-button (click)="like()" *ngIf="currentUser && !isComment" [disabled]="isLoading" class="fs-6 font-medium">
        <ng-container>
          {{currentHeadline.likes.length}}&nbsp;
          <svg *ngIf="currentUser && !currentHeadline.likes.includes(currentUser.id)" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5" />
          </svg>
          <svg *ngIf="currentUser && currentHeadline.likes.includes(currentUser.id)" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-blue-900" viewBox="0 0 20 20" fill="currentColor">
            <path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z" />
          </svg>
        </ng-container>
      </ion-button>
      <ion-button (click)="dislike()" *ngIf="currentUser && !isComment" [disabled]="isLoading" class="fs-6 font-medium">
        <ng-container>
          {{currentHeadline.disLikes.length}}&nbsp;
          <svg *ngIf="currentUser && !currentHeadline.disLikes.includes(currentUser.id)" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10 14H5.236a2 2 0 01-1.789-2.894l3.5-7A2 2 0 018.736 3h4.018a2 2 0 01.485.06l3.76.94m-7 10v5a2 2 0 002 2h.096c.5 0 .905-.405.905-.904 0-.715.211-1.413.608-2.008L17 13V4m-7 10h2m5-10h2a2 2 0 012 2v6a2 2 0 01-2 2h-2.5" />
          </svg>
          <svg *ngIf="currentUser && currentHeadline.disLikes.includes(currentUser.id)" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-500" viewBox="0 0 20 20" fill="currentColor">
            <path d="M18 9.5a1.5 1.5 0 11-3 0v-6a1.5 1.5 0 013 0v6zM14 9.667v-5.43a2 2 0 00-1.105-1.79l-.05-.025A4 4 0 0011.055 2H5.64a2 2 0 00-1.962 1.608l-1.2 6A2 2 0 004.44 12H8v4a2 2 0 002 2 1 1 0 001-1v-.667a4 4 0 01.8-2.4l1.4-1.866a4 4 0 00.8-2.4z" />
          </svg>
        </ng-container>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
