<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="primary" *ngIf="isSearch">
    <ion-searchbar (ionInput)="filterListTransaction($event)" [placeholder]="'2.2-2' | translate" (ionCancel)="isSearch = !isSearch" showCancelButton="always"></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar color="primary" *ngIf="!isSearch">
    <ion-title>
      {{'2.2-1' | translate}}
    </ion-title>
    <ion-buttons slot="end" class="ion-no-padding">
      <ion-button class="ion-no-padding" (click)="isSearch = !isSearch">
        <ion-icon name="search" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header-->

  <div class="grid grid-cols-7 ion-padding-vertical">
    <div class="col-span-6">
      <ion-slides pager="false" [options]="slideOpts">
        <ion-slide>
          <span (click)="categorieSelect = null" class="{{ categorieSelect === null ? 'bg-blue-900 text-white' : 'bg-white text-gray-400'}} px-9 ion-text-capitalize text-sm font-medium px-2.5 rounded">{{'2.2-5' | translate}}</span>
        </ion-slide>
        <ion-slide *ngFor="let cat of categoriesEditors; let i = index">
          <span (click)="categorieSelect = cat" class="{{ cat === categorieSelect ? 'bg-blue-900 text-white' : 'bg-white text-gray-400'}} px-9 ion-text-capitalize text-sm font-medium px-2.5 rounded">{{getValueTraduct(cat.name)}}</span>
        </ion-slide>
      </ion-slides>
    </div>
    <div class="col-span-1 ion-text-center text-gray-500 rotate-90 ">
      <ion-icon name="options-sharp" (click)="presentAllCategorie()"></ion-icon>
    </div>
  </div>

  <div class="p-3" *ngIf="archives.length === 0">
    <h3 class="font-semibold text-xl">{{'2.2-3' | translate}}</h3>
    <div class="py-3">
      <p>{{'2.2-4' | translate}}</p>
    </div>
  </div>

  <div class="p-3">
    <app-miniature-headline skin="list" idCategory="{{categorieSelect === null ? '' : categorieSelect.id}}" [idHeadline]="archive" *ngFor="let archive of archives"></app-miniature-headline>
  </div>

</ion-content>
