<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>
      {{'3.3-1' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header-->

  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col class="ion-align-items-center mt-5">
        <img class="w-32 h-32 rounded-full inline" [src]="user && user.photo ? user.photo : 'https://cdn-icons-png.flaticon.com/512/149/149071.png'" alt="Rounded avatar">
        <h3 class="capitalize mt-3 font-bold text-xl">
          {{'3.3-2' | translate}} {{user && user.userName ? user.userName : 'Guest'}}
        </h3>
        <span *ngIf="user">
          <ion-text color="medium">
            {{user.phone ? user.phone : '...'}}
          </ion-text>
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>

  <p class="py-16 text-sm text-gray-400 text-center">
    Ayoba news - 2022 | Version 1.0
  </p>
</ion-content>
