<ion-header>
  <ion-toolbar color="primary" *ngIf="isSearch">
    <ion-searchbar (ionInput)="filterListTransaction($event)" [placeholder]="'8.3' | translate" (ionCancel)="isSearch = !isSearch" showCancelButton="always"></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar *ngIf="!isSearch">
    <ion-buttons slot="start">
      <img src="assets/img/logo_symbole.svg" class="inline-block h-9 pl-4"/>
    </ion-buttons>
    <ion-title>{{'1.1-12' | translate}}</ion-title>
    <ion-buttons slot="end" class="ion-no-padding">
      <ion-button class="ion-no-padding" (click)="isSearch = !isSearch">
        <ion-icon name="search" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p-3">
    <h3 class="font-semibold text-xl">{{'8.1' | translate}}</h3>
    <div class="py-3" *ngIf="pools.length === 0">
      <p>{{'8.2' | translate}}</p>
    </div>
  </div>

  <div class="p-3">
    <app-miniature-poll idPoll="{{poll.id}}" *ngFor="let poll of pools"></app-miniature-poll>
  </div>
</ion-content>
