<ion-button id="btn-choose-country" class="ion-no-padding space-x-1">
  <img *ngIf="paySelect && paySelect.flag" [src]="paySelect ? paySelect.flag : ''" width="30px" class="inline-block" height="30px"/>
  <svg xmlns="http://www.w3.org/2000/svg" *ngIf="!paySelect || paySelect && !paySelect.flag" class="h-8 w-8 animate-pulse" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1">
    <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
  </svg>
  <span>&#9660;</span>
</ion-button>

<ion-popover trigger="btn-choose-country" side="left" alignment="start">
  <ng-template>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-list-header class="{{isLoading ? 'animate-pulse' : ''}}"> {{'1.1-6' | translate}} </ion-list-header>

        <ion-item [disabled]="isLoading" routerLink="{{null}}" (click)="saveCountry(pays)" lines="none" *ngFor="let pays of inputPays">
          <ion-avatar slot="start">
            <img src="{{pays.flag}}" class="h-10 w-10"/>
          </ion-avatar>
          <ion-label>
            <h2 [class]="pays.id === idPaySelect ? 'text-orange-600 font-bold' : ''">{{pays.name}}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>
